@using BusinessSolution.Shared.InquiryModel
@model IEnumerable<InquiryModel>

<!-- Display a table listing all inquiries in the database -->
<h2>Inquiries</h2>
<table class="table">
    <tr>
        <th>Inquiry ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>

    @foreach (var inquiry in @Model)
    {
        <tr>
            <td><a href=/Inquiry/ViewInquiry/@inquiry.Inquiry_ID>@inquiry.Inquiry_ID</a></td>
            <td>@inquiry.Date.ToString("MM/dd/yyyy")</td>
            <td>@inquiry.Name</td>
            <td>@inquiry.Phone</td>
            <td>@inquiry.Email</td>
        </tr>
    }
</table>